version: '3.5'
services:
  web:    
    ports:
        - *"8000:80"*
        - *PORTS*
  db:
    ports:
        - *"3307:3306"*
        - *PORTS*
    volumes:
        - *YOUR_CUSTOM_DIR*:/var/lib/mysql  
    environment:
        MYSQL_ROOT_PASSWORD: *ROOT_PASSWORD*
        MYSQL_DATABASE: *DATABASE_NAME*
        MYSQL_USER: *USER*
        MYSQL_PASSWORD: *PASSWORD*     